name: Container image

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    permissions:
      packages: write
      contents: read
    
    env:
      GHCR_IMAGE: ghcr.io/${{ github.repository }}
      TAG: ${{ github.sha }}

    steps:
      - uses: actions/checkout@v4
      
      - name: Install dependencies
        run: npm ci
      
      - name: Build
        run: npm run build

      - name: Build container image
        run: |
          docker build \
          -t ${GHCR_IMAGE}:${TAG} \
          -t ${GHCR_IMAGE}:latest \
          .
      
      - name: Login to GHCR
        run: echo ${{ github.token }} | docker login ghcr.io -u ${{github.actor}} --password-stdin
      
      - name: Push image to GHCR
        run: |
          docker push ${GHCR_IMAGE}:${TAG}
          docker push ${GHCR_IMAGE}:latest
