name: Pull Request Checks

on:
  pull_request:
    branches: [ '*' ]

jobs:
  checks:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
    - uses: actions/checkout@v4
    
    - name: Install dependencies
      run: npm ci
    
    - name: Build
      run: npm run build
    
    - name: Build container image
      run: docker build -t crittersjs .
    
    - name: Lint
      run: npm run lint
